---
---

@import "bootstrap.min.css";

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #757575;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  opacity: 0.8;
  text-indent: 0em;
}

h6 a:link {
  text-decoration: underline;
}

p {
  text-indent: 2em;
}

.article-entry {
}

.floating-bar {
  background-color: #e3f2fd;
  opacity: 0.98;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 26px; /* Set the fixed height of the footer here */
  line-height: 26px; /* Vertically center the text there */
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

/* Youtube video
-------------------------------------------------- */
.youtube-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
