---
layout: default
---

<div>
    <h1>{{ page.title }}</h1>
    <small>{{ page.date | date: "%b %d, %Y" }}</small><br/>
    <span class="badge badge-secondary" data-talk-id="{{page.id}}"></span>
    <ul class="list-inline">
        {%- for tag in page.tags -%}
        <li class="list-inline-item">
            <span class="badge badge-pill badge-warning">{{ tag }}</span>
        </li>
        {%- endfor -%}
    </ul>
</div>

{{content}}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page.previous != nil %}
        <li class="page-item"><a class="page-link" href="{{ page.previous.url }}">Older post</a></li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Older post</a>
        </li>
    {% endif %}
    {% if page.next != nil %}
        <li class="page-item"><a class="page-link" href="{{ page.next.url }}">Newer post</a></li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer post</a>
        </li>
    {% endif %}
  </ul>
</nav>
<a href="{{ site.url }}" role="button" class="btn btn-primary btn-block btn-sm">Back to home</a>

<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 582;
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/count/"></script>

<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 582; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>